In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv("C:/Users/Asus/Downloads/Divar.csv",low_memory=False,encoding='utf-8-sig')

In [4]:
data = data1.copy()

In [5]:
drops = ['Unnamed: 0','city_slug','rent_value','rent_type','rent_credit_transform','transformable_rent','transformed_rent','neighborhood_slug','credit_value', 'transformable_credit','rent_to_single','location_radius','transformable_price', 'extra_person_capacity','title','description','rent_mode','price_mode','user_type','credit_mode','cat2_slug','cat3_slug']
data = data.drop(columns=drops,axis=1)
data

,created_at_month,price_value,transformed_credit,land_size,building_size,deed_type,has_business_deed,floor,rooms_count,total_floors_count,...,has_sauna,floor_material,property_type,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude
0,2024-08-01 00:00:00,NaN,NaN,NaN,500.0,NaN,NaN,NaN,سه,NaN,...,NaN,NaN,NaN,4.0,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600
1,2024-05-01 00:00:00,8.500000e+09,NaN,NaN,60.0,NaN,NaN,3,یک,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-10-01 00:00:00,NaN,NaN,NaN,132.0,NaN,NaN,3,سه,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459
3,2024-06-01 00:00:00,NaN,NaN,NaN,90.0,NaN,NaN,4,یک,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-05-01 00:00:00,5.750000e+09,NaN,NaN,115.0,single_page,NaN,4,دو,6,...,NaN,ceramic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2024-07-01 00:00:00,7.470000e+09,NaN,NaN,180.0,NaN,NaN,4.0,چهار,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241
999996,2024-07-01 00:00:00,NaN,3.000000e+09,NaN,110.0,NaN,NaN,1.0,دو,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099
999997,2024-11-01 00:00:00,3.200000e+09,NaN,200.0,200.0,NaN,NaN,NaN,چهار,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,2024-09-01 00:00:00,NaN,NaN,NaN,70.0,NaN,NaN,NaN,دو,NaN,...,NaN,NaN,NaN,5.0,NaN,3000000.0,NaN,NaN,37.483501,49.438721
999999,2024-08-01 00:00:00,NaN,2.500000e+08,NaN,40.0,NaN,NaN,2.0,یک,8.0,...,NaN,ceramic,NaN,NaN,NaN,NaN,NaN,NaN,35.680767,51.365299

In [6]:
object_cols = data.select_dtypes(include=['object']).columns
object_cols

Index(['created_at_month', 'deed_type', 'has_business_deed', 'floor',
       'rooms_count', 'total_floors_count', 'unit_per_floor', 'has_balcony',
       'has_elevator', 'has_warehouse', 'has_parking', 'construction_year',
       'is_rebuilt', 'has_water', 'has_warm_water_provider', 'has_electricity',
       'has_gas', 'has_heating_system', 'has_cooling_system', 'has_restroom',
       'has_security_guard', 'has_barbecue', 'building_direction', 'has_pool',
       'has_jacuzzi', 'has_sauna', 'floor_material', 'property_type'],
      dtype='object')

## floor_material

In [12]:
def convert_material(x):
    if x == 'unselect':
        return float('nan')
    return x
data.floor_material = data.floor_material.apply(lambda x: convert_material(x))

## unit_per_floor

In [14]:
def convert_unit(x):
    if x == 'more_than_8':
        return 9
    elif x == 'unselect':
        return float('nan')
    return float(x)
data.unit_per_floor = data.unit_per_floor.apply(lambda x: convert_unit(x))

## total_floors_count

In [18]:
def convert_total(x):
    if x == '30+':
        return 31
    elif x == 'unselect':
        return float('nan')
    return float(x)
data.total_floors_count = data.total_floors_count.apply(lambda x: convert_total(x))

## rooms_count

In [21]:
def transform(u):
    if u == 'بدون اتاق':
        return int(0)
    elif u == 'یک':
        return int(1)
    elif u == 'دو':
        return int(2)
    elif u == 'سه':
        return int(3)
    elif u == 'چهار':
        return int(4)
    elif u == 'پنج یا بیشتر':
        return int(5)

In [23]:
data.rooms_count = data.rooms_count.apply(lambda x: transform(x))
data.rooms_count

0         3.0
1         1.0
2         3.0
3         1.0
4         2.0
         ...
999995    4.0
999996    2.0
999997    4.0
999998    2.0
999999    1.0
Name: rooms_count, Length: 1000000, dtype: float64

## created_at_month

In [26]:
data['month'] = pd.to_datetime(data['created_at_month']).dt.month
data['year'] = pd.to_datetime(data['created_at_month']).dt.year
data = data.drop('created_at_month',axis=1)
data

,price_value,transformed_credit,land_size,building_size,deed_type,has_business_deed,floor,rooms_count,total_floors_count,unit_per_floor,...,property_type,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,month,year
0,NaN,NaN,NaN,500.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,4.0,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600,8,2024
1,8.500000e+09,NaN,NaN,60.0,NaN,NaN,3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2024
2,NaN,NaN,NaN,132.0,NaN,NaN,3,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459,10,2024
3,NaN,NaN,NaN,90.0,NaN,NaN,4,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,2024
4,5.750000e+09,NaN,NaN,115.0,single_page,NaN,4,2.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,7.470000e+09,NaN,NaN,180.0,NaN,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241,7,2024
999996,NaN,3.000000e+09,NaN,110.0,NaN,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099,7,2024
999997,3.200000e+09,NaN,200.0,200.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,2024
999998,NaN,NaN,NaN,70.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,5.0,NaN,3000000.0,NaN,NaN,37.483501,49.438721,9,2024
999999,NaN,2.500000e+08,NaN,40.0,NaN,NaN,2.0,1.0,8.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,35.680767,51.365299,8,2024

## construcion_year

In [29]:
def convert_construction_year(x):
    if x == 'قبل از ۱۳۷۰':
        return 1370
    elif x == float('nan'):
        return x
    else:
        x = str(x)
        persian_digits ='۱۲۳۴۵۶۷۸۹۰١٢٣٤٥٦٧٨٩٠'
        english_digits ='12345678901234567890'
        translation_table = str.maketrans(persian_digits, english_digits)
        x = float(x.translate(translation_table))
        return x

In [31]:
data['construction_year'] = data.construction_year.apply(convert_construction_year).astype('Int64')

# floor

In [33]:
data.floor.unique()

array([nan, '3', '4', '2', '1', '5', '0', '30', '6', '7', '8', '18', '12',
       '11', '10', '-1', '13', '9', '19', '16', '30+', '21', '15', '22',
       '14', '17', '20', '23', '25', '24', '26', '28', '29', '27', '3.0',
       '2.0', '4.0', '1.0', '0.0', '20.0', '5.0', '7.0', '6.0', '18.0',
       '8.0', '-1.0', '22.0', '10.0', '14.0', '9.0', '11.0'], dtype=object)

In [34]:
def convert_floor(x):
    if x == '30+':
        return 30
    return float(x)
data.floor = data.floor.apply(lambda x: convert_floor(x))

In [35]:
df = data.copy()

In [36]:
df = df[~(df['price_value'].isna()) | ~(df['transformed_credit'].isna())]
#df = df[~(df['location_longitude'].isna()) & ~(df['location_longitude'].isna())]

In [37]:
object_cols = df.select_dtypes(include=['object']).columns
object_cols

Index(['deed_type', 'has_business_deed', 'has_balcony', 'has_elevator',
       'has_warehouse', 'has_parking', 'is_rebuilt', 'has_water',
       'has_warm_water_provider', 'has_electricity', 'has_gas',
       'has_heating_system', 'has_cooling_system', 'has_restroom',
       'has_security_guard', 'has_barbecue', 'building_direction', 'has_pool',
       'has_jacuzzi', 'has_sauna', 'floor_material', 'property_type'],
      dtype='object')

## Encoding Object Features

In [39]:
df = pd.get_dummies(df, columns = object_cols,dtype = int, prefix_sep='_')
df

,price_value,transformed_credit,land_size,building_size,floor,rooms_count,total_floors_count,unit_per_floor,construction_year,regular_person_capacity,...,floor_material_floor_covering,floor_material_laminate_parquet,floor_material_mosaic,floor_material_stone,floor_material_wood_parquet,property_type_beach,property_type_jungle,property_type_jungle-mountain,property_type_mountain,property_type_other
1,8.500000e+09,NaN,NaN,60.0,3.0,1.0,NaN,NaN,1384,NaN,...,0,0,0,0,0,0,0,0,0,0
4,5.750000e+09,NaN,NaN,115.0,4.0,2.0,6.0,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
5,NaN,4.000000e+08,NaN,100.0,3.0,2.0,3.0,2.0,1389,NaN,...,0,0,0,0,0,0,0,0,0,0
7,8.700000e+09,NaN,NaN,100.0,4.0,2.0,NaN,NaN,1393,NaN,...,0,0,0,0,0,0,0,0,0,0
8,6.500000e+08,NaN,NaN,78.0,4.0,2.0,6.0,4.0,1396,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999992,4.350000e+09,NaN,NaN,105.0,2.0,2.0,5.0,2.0,1401,NaN,...,0,0,0,0,0,0,0,0,0,0
999995,7.470000e+09,NaN,NaN,180.0,4.0,4.0,NaN,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
999996,NaN,3.000000e+09,NaN,110.0,1.0,2.0,NaN,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
999997,3.200000e+09,NaN,200.0,200.0,NaN,4.0,NaN,NaN,1370,NaN,...,0,0,0,0,0,0,0,0,0,0
999999,NaN,2.500000e+08,NaN,40.0,2.0,1.0,8.0,2.0,1382,NaN,...,0,0,0,0,0,0,0,0,0,0

# Feature Selection

In [47]:
from sklearn.model_selection import train_test_split
target = ['price_value','transformed_credit']
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(target, axis=1), 
    df[target],
    test_size=0.3,
    random_state=42
)

In [54]:
xy_train_price = pd.concat([X_train,y_train.price_value],axis=1)
xy_train_credit = pd.concat([X_train,y_train.transformed_credit],axis=1)
xy_test_price = pd.concat([X_test,y_test.price_value],axis=1)
xy_test_credit = pd.concat([X_test,y_test.transformed_credit],axis=1)

# Do features of xy_train_price have relationship with target of xy_train_price

In [239]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV

train_sample = xy_train_price
train_sample = train_sample[train_sample.price_value.notna()]
test_sample = xy_test_price[xy_test_price.price_value.notna()]
X_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value
x_test = test_sample.drop('price_value',axis=1)
y_test = test_sample.price_value

X_train.fillna(-999)
x_test.fillna(-999)

param_grid = {
    'n_estimators': [100, 50],
    'max_depth': [10, 20, None],
    'min_samples_split': [20, 30]
}

grid_search = GridSearchCV(
    estimator=RandomForestRegressor(max_samples=10000, n_jobs=-1,random_state = 42),
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred = best_model.predict(x_test)
r2_score(y_test,y_pred)

{'max_depth': None, 'min_samples_split': 30, 'n_estimators': 100}

-0.008741492811697116

## corrlation between features and price_value by spearman method

In [56]:
corr_price = pd.DataFrame(xy_train_price.corr(method='spearman').price_value)

In [57]:
corr_price.price_value = corr_price.price_value.mask(corr_price.price_value<0,np.abs(corr_price.price_value))

In [58]:
corr_price.sort_values(by = 'price_value',ascending =  False).head(20)

                                    price_value
price_value                            1.000000
rooms_count                            0.410267
has_parking_True                       0.319728
total_floors_count                     0.308744
has_elevator_True                      0.305930
has_restroom_squat_seat                0.304666
land_size                              0.266876
has_warehouse_True                     0.261314
floor_material_stone                   0.228539
deed_type_single_page                  0.212568
unit_per_floor                         0.196505
building_size                          0.189588
has_parking_False                      0.183597
has_cooling_system_duct_split          0.181881
floor                                  0.180124
has_heating_system_duct_split          0.178259
has_restroom_squat                     0.174787
has_warm_water_provider_package        0.170676
has_balcony_true                       0.170643
has_warm_water_provider_powerhouse     0.169655

In [59]:
feature_of_price = corr_price.sort_values(by = 'price_value',ascending =  False).index[0:21]

## corrlation between features and transformed_credit by spearman method

In [61]:
corr_credit = pd.DataFrame(xy_train_credit.corr(method='spearman').transformed_credit)

In [62]:
corr_credit.transformed_credit = corr_credit.transformed_credit.mask(corr_credit.transformed_credit<0,np.abs(corr_credit.transformed_credit))

In [63]:
feature_of_credit = corr_credit.sort_values(by = 'transformed_credit',ascending =  False).index[0:11]

# Featuring of Train And Test

In [72]:
xy_train_price = xy_train_price[feature_of_price]
xy_test_price = xy_test_price[feature_of_price]
xy_train_credit = xy_train_credit[feature_of_credit]
xy_test_credit = xy_test_credit[feature_of_credit]

In [74]:
xy_train_price = xy_train_price[~xy_train_price.price_value.isna()]
xy_test_price = xy_test_price[~xy_test_price.price_value.isna()]
xy_train_credit = xy_train_credit[~xy_train_credit.transformed_credit.isna()]
xy_test_credit = xy_test_credit[~xy_test_credit.transformed_credit.isna()]

# Deleting land_size column becasue has more than 80% null and building_size is its proxy and land_size is not null in residential rent-sell mode

In [77]:
xy_train_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50613 entries, 741484 to 571379
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   transformed_credit                    50613 non-null  float64
 1   building_size                         50613 non-null  float64
 2   rooms_count                           50601 non-null  float64
 3   land_size                             6553 non-null   float64
 4   has_elevator_True                     50613 non-null  int64
 5   total_floors_count                    24409 non-null  float64
 6   has_parking_True                      50613 non-null  int64
 7   has_restroom_squat                    50613 non-null  int64
 8   has_parking_False                     50613 non-null  int64
 9   has_warm_water_provider_water_heater  50613 non-null  int64
 10  has_heating_system_heater             50613 non-null  int64
dtypes: float64(5), int64(6)
memory usage: 4.6 MB

In [79]:
xy_train_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397915 entries, 21892 to 190637
Data columns (total 21 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   price_value                         397915 non-null  float64
 1   rooms_count                         319795 non-null  float64
 2   has_parking_True                    397915 non-null  int64
 3   total_floors_count                  131011 non-null  float64
 4   has_elevator_True                   397915 non-null  int64
 5   has_restroom_squat_seat             397915 non-null  int64
 6   land_size                           84991 non-null   float64
 7   has_warehouse_True                  397915 non-null  int64
 8   floor_material_stone                397915 non-null  int64
 9   deed_type_single_page               397915 non-null  int64
 10  unit_per_floor                      129392 non-null  float64
 11  building_size                       396991 non-null  float64
 12  has_parking_False                   397915 non-null  int64
 13  has_cooling_system_duct_split       397915 non-null  int64
 14  floor                               215700 non-null  float64
 15  has_heating_system_duct_split       397915 non-null  int64
 16  has_restroom_squat                  397915 non-null  int64
 17  has_warm_water_provider_package     397915 non-null  int64
 18  has_balcony_true                    397915 non-null  int64
 19  has_warm_water_provider_powerhouse  397915 non-null  int64
 20  has_heating_system_shoofaj          397915 non-null  int64
dtypes: float64(7), int64(14)
memory usage: 66.8 MB

In [81]:
xy_train_price = xy_train_price.drop('land_size',axis=1)
xy_test_price = xy_test_price.drop('land_size',axis=1)
xy_train_credit = xy_train_credit.drop('land_size',axis=1)
xy_test_credit = xy_test_credit.drop('land_size',axis=1)

# Decrease shape of Data by total_floors_count.notna and unit_per_floor.notna()

In [84]:
xy_train_price = xy_train_price[xy_train_price.total_floors_count.notna()]
xy_test_price = xy_test_price[xy_test_price.total_floors_count.notna()]
xy_train_credit = xy_train_credit[xy_train_credit.total_floors_count.notna()]
xy_test_credit = xy_test_credit[xy_test_credit.total_floors_count.notna()]

# Filling unit_per_floor null's

In [106]:
xy_train_price.unit_per_floor = xy_train_price.unit_per_floor.fillna(xy_train_price.unit_per_floor.median())
xy_test_price.unit_per_floor = xy_test_price.unit_per_floor.fillna(xy_train_price.unit_per_floor.median())
xy_train_price.floor = xy_train_price.floor.fillna(xy_train_price.floor.median())
xy_test_price.floor = xy_test_price.floor.fillna(xy_train_price.floor.median())

In [108]:
xy_train_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131011 entries, 172395 to 206080
Data columns (total 20 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   price_value                         131011 non-null  float64
 1   rooms_count                         131011 non-null  float64
 2   has_parking_True                    131011 non-null  int64
 3   total_floors_count                  131011 non-null  float64
 4   has_elevator_True                   131011 non-null  int64
 5   has_restroom_squat_seat             131011 non-null  int64
 6   has_warehouse_True                  131011 non-null  int64
 7   floor_material_stone                131011 non-null  int64
 8   deed_type_single_page               131011 non-null  int64
 9   unit_per_floor                      131011 non-null  float64
 10  building_size                       131011 non-null  float64
 11  has_parking_False                   131011 non-null  int64
 12  has_cooling_system_duct_split       131011 non-null  int64
 13  floor                               131011 non-null  float64
 14  has_heating_system_duct_split       131011 non-null  int64
 15  has_restroom_squat                  131011 non-null  int64
 16  has_warm_water_provider_package     131011 non-null  int64
 17  has_balcony_true                    131011 non-null  int64
 18  has_warm_water_provider_powerhouse  131011 non-null  int64
 19  has_heating_system_shoofaj          131011 non-null  int64
dtypes: float64(6), int64(14)
memory usage: 21.0 MB

In [110]:
xy_train_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24409 entries, 741484 to 434630
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   transformed_credit                    24409 non-null  float64
 1   building_size                         24409 non-null  float64
 2   rooms_count                           24409 non-null  float64
 3   has_elevator_True                     24409 non-null  int64
 4   total_floors_count                    24409 non-null  float64
 5   has_parking_True                      24409 non-null  int64
 6   has_restroom_squat                    24409 non-null  int64
 7   has_parking_False                     24409 non-null  int64
 8   has_warm_water_provider_water_heater  24409 non-null  int64
 9   has_heating_system_heater             24409 non-null  int64
dtypes: float64(4), int64(6)
memory usage: 2.0 MB

In [112]:
xy_test_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10505 entries, 258964 to 995264
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   transformed_credit                    10505 non-null  float64
 1   building_size                         10505 non-null  float64
 2   rooms_count                           10505 non-null  float64
 3   has_elevator_True                     10505 non-null  int64
 4   total_floors_count                    10505 non-null  float64
 5   has_parking_True                      10505 non-null  int64
 6   has_restroom_squat                    10505 non-null  int64
 7   has_parking_False                     10505 non-null  int64
 8   has_warm_water_provider_water_heater  10505 non-null  int64
 9   has_heating_system_heater             10505 non-null  int64
dtypes: float64(4), int64(6)
memory usage: 902.8 KB

In [114]:
xy_test_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56006 entries, 255166 to 200188
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   price_value                         56006 non-null  float64
 1   rooms_count                         56006 non-null  float64
 2   has_parking_True                    56006 non-null  int64
 3   total_floors_count                  56006 non-null  float64
 4   has_elevator_True                   56006 non-null  int64
 5   has_restroom_squat_seat             56006 non-null  int64
 6   has_warehouse_True                  56006 non-null  int64
 7   floor_material_stone                56006 non-null  int64
 8   deed_type_single_page               56006 non-null  int64
 9   unit_per_floor                      56006 non-null  float64
 10  building_size                       56006 non-null  float64
 11  has_parking_False                   56006 non-null  int64
 12  has_cooling_system_duct_split       56006 non-null  int64
 13  floor                               56006 non-null  float64
 14  has_heating_system_duct_split       56006 non-null  int64
 15  has_restroom_squat                  56006 non-null  int64
 16  has_warm_water_provider_package     56006 non-null  int64
 17  has_balcony_true                    56006 non-null  int64
 18  has_warm_water_provider_powerhouse  56006 non-null  int64
 19  has_heating_system_shoofaj          56006 non-null  int64
dtypes: float64(6), int64(14)
memory usage: 9.0 MB

# Delete Outliers

In [153]:
xrp = xy_train_price.copy()
xrc = xy_train_credit.copy()

In [155]:
xrp = xrp#.sample(frac=0.2,random_state=42)

In [157]:
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

df01 = xrp.drop(axis=1,columns = ['price_value'])
df02 = xrc.drop(axis=1,columns = ['transformed_credit'])
scaler1 = StandardScaler()
scaler2 = StandardScaler()

df1 = scaler1.fit_transform(df01)
df2 = scaler2.fit_transform(df02)

model1 = DBSCAN(eps=0.00001,min_samples=2)
model2 = DBSCAN(eps=10,min_samples=2)

clusters1 = model1.fit_predict(df1)
clusters2 = model2.fit_predict(df2)

s1 = scaler1.inverse_transform(df1)
s2 = scaler2.inverse_transform(df2)

xrp2 = pd.DataFrame(s1, columns=df01.columns)
xrc2 = pd.DataFrame(s2, columns=df02.columns)

b1 = (xrp['price_value'].reset_index())['price_value']
b2 = (xrc['transformed_credit'].reset_index())['transformed_credit']

xrp2 = pd.concat([xrp2,b1],axis =1)
xrc2 = pd.concat([xrc2,b2],axis =1)

xrp2 = xrp2[clusters1 !=-1]
xrc2 = xrc2[clusters2 !=-1]

In [158]:
xrp.describe()

,price_value,rooms_count,has_parking_True,total_floors_count,has_elevator_True,has_restroom_squat_seat,has_warehouse_True,floor_material_stone,deed_type_single_page,unit_per_floor,building_size,has_parking_False,has_cooling_system_duct_split,floor,has_heating_system_duct_split,has_restroom_squat,has_warm_water_provider_package,has_balcony_true,has_warm_water_provider_powerhouse,has_heating_system_shoofaj
count,1.310110e+05,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,1.310110e+05,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000,131011.000000
mean,1.585803e+10,2.015922,0.819153,4.975506,0.716451,0.577150,0.862050,0.101007,0.737556,2.336529,4.879999e+02,0.180847,0.087329,2.846410,0.064689,0.327408,0.587806,0.818145,0.077032,0.563296
std,5.239951e+11,0.675946,0.384893,2.846596,0.450722,0.494014,0.344849,0.301339,0.439964,1.433900,5.175361e+04,0.384893,0.282317,2.194377,0.245978,0.469269,0.492232,0.385726,0.266643,0.495979
min,0.000000e+00,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000e+09,2.000000,1.000000,4.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,7.200000e+01,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,3.400000e+09,2.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,9.000000e+01,0.000000,0.000000,3.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
75%,6.400000e+09,2.000000,1.000000,5.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,1.200000e+02,0.000000,0.000000,4.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000e+14,5.000000,1.000000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,1.000000e+07,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [159]:
xrp2.describe()

,rooms_count,has_parking_True,total_floors_count,has_elevator_True,has_restroom_squat_seat,has_warehouse_True,floor_material_stone,deed_type_single_page,unit_per_floor,building_size,has_parking_False,has_cooling_system_duct_split,floor,has_heating_system_duct_split,has_restroom_squat,has_warm_water_provider_package,has_balcony_true,has_warm_water_provider_powerhouse,has_heating_system_shoofaj,price_value
count,50291.00000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,50291.000000,5.029100e+04
mean,2.00684,0.872860,4.573781,0.734127,0.647631,0.929152,0.069416,0.784474,2.083216,97.053628,0.127140,0.049949,2.713269,0.041141,0.316538,0.709948,0.908433,0.033187,0.678929,1.019268e+10
std,0.59302,0.333133,1.938480,0.441801,0.477713,0.256573,0.254163,0.411191,0.992583,37.257143,0.333133,0.217842,1.704738,0.198617,0.465130,0.453791,0.288417,0.179126,0.466893,2.104026e+11
min,0.00000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,30.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,2.00000,1.000000,4.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,75.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000e+09
50%,2.00000,1.000000,4.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,90.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,3.350000e+09
75%,2.00000,1.000000,5.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,115.000000,0.000000,0.000000,4.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,5.950000e+09
max,5.00000,1.000000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,1300.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.025000e+13

In [160]:
xrc.describe()

,transformed_credit,building_size,rooms_count,has_elevator_True,total_floors_count,has_parking_True,has_restroom_squat,has_parking_False,has_warm_water_provider_water_heater,has_heating_system_heater
count,2.440900e+04,2.440900e+04,24409.000000,24409.000000,24409.000000,24409.000000,24409.000000,24409.000000,24409.000000,24409.000000
mean,8.232063e+08,3.627926e+02,2.105207,0.677086,4.906428,0.791388,0.306854,0.208612,0.214347,0.189848
std,1.333015e+09,2.409377e+04,0.715397,0.467600,3.036422,0.406324,0.461198,0.406324,0.410377,0.392189
min,0.000000e+00,2.000000e+01,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.700000e+08,7.800000e+01,2.000000,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000e+08,1.010000e+02,2.000000,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000e+08,1.350000e+02,3.000000,1.000000,5.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,5.000000e+10,3.600000e+06,5.000000,1.000000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [161]:
xrc2.describe()

,building_size,rooms_count,has_elevator_True,total_floors_count,has_parking_True,has_restroom_squat,has_parking_False,has_warm_water_provider_water_heater,has_heating_system_heater,transformed_credit
count,24407.000000,24407.000000,24407.000000,24407.000000,24407.000000,24407.000000,2.440700e+04,2.440700e+04,24407.000000,2.440700e+04
mean,174.103126,2.105093,0.677101,4.906461,0.791412,0.306838,2.085877e-01,2.143647e-01,0.189864,8.212231e+08
std,2858.158270,0.715186,0.467594,3.036514,0.406307,0.461191,4.063073e-01,4.103893e-01,0.392201,1.295360e+09
min,20.000000,0.000000,0.000000,2.000000,0.000000,0.000000,-2.775558e-17,2.775558e-17,0.000000,0.000000e+00
25%,78.000000,2.000000,0.000000,4.000000,1.000000,0.000000,-2.775558e-17,2.775558e-17,0.000000,2.700000e+08
50%,101.000000,2.000000,1.000000,4.000000,1.000000,0.000000,-2.775558e-17,2.775558e-17,0.000000,5.000000e+08
75%,135.000000,3.000000,1.000000,5.000000,1.000000,1.000000,-2.775558e-17,2.775558e-17,0.000000,9.000000e+08
max,240000.000000,5.000000,1.000000,31.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000,3.500000e+10

## Create model for credit

## 1- Random Forest Regressor

In [164]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import GridSearchCV

train_sample = xrc2
X_train = train_sample.drop('transformed_credit',axis=1)
y_train = train_sample.transformed_credit

param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [10, 20, None],
    'min_samples_split': [2, 5]
}

grid_search = GridSearchCV(
    estimator=RandomForestRegressor(max_samples=10000, n_jobs=-1,random_state = 42),
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred = best_model.predict(xy_test_credit.drop('transformed_credit',axis=1))
print(r2_score(xy_test_credit.transformed_credit,y_pred))
print(mean_squared_error(xy_test_credit.transformed_credit,y_pred))
print(mean_absolute_error(xy_test_credit.transformed_credit,y_pred))

{'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 200}
0.4951464006243178
8.408328263899007e+17
424941984.41993815

## 2- LightGBM

In [185]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import lightgbm as lgb
import joblib

train_sample = xrc2
X_train = train_sample.drop('transformed_credit',axis=1)
y_train = train_sample.transformed_credit

base_params = {
    'objective': 'regression',
    'metric': 'rmse',
    'boosting_type': 'gbdt',  
    'verbose': -1,
    'random_state': 42
}

param_grid = {
    'num_leaves': [15, 31, 63],
    'learning_rate': [0.01, 0.05, 0.1],
    'feature_fraction': [0.6, 0.7, 0.8, 0.9],
    'bagging_fraction': [0.7, 0.8, 0.9, 1],
    'min_data_in_leaf': [5, 10, 20, 40],
    'lambda_l1': [0, 0.1, 0.5],
    'lambda_l2': [0, 0.1, 0.5]
}


model = lgb.LGBMRegressor(**base_params)


random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_grid,
    n_iter=20,
    scoring='neg_root_mean_squared_error',
    cv=5,
    n_jobs=-1,
    verbose=1,
    random_state=42
)

random_search.fit(X_train, y_train)

best_model = random_search.best_estimator_
print(random_search.best_params_)
print(-random_search.best_score_)
y_pred = best_model.predict(xy_test_credit.drop('transformed_credit',axis=1))
r2_score(xy_test_credit.transformed_credit,y_pred)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'num_leaves': 31, 'min_data_in_leaf': 40, 'learning_rate': 0.05, 'lambda_l2': 0, 'lambda_l1': 0.1, 'feature_fraction': 0.6, 'bagging_fraction': 0.7}
764675986.7652882

0.49473331653401387

## Create model for price

In [212]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV

train_sample = xrp2
X_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value

param_grid = {
    'n_estimators': [100, 50],
    'max_depth': [10, 20, None],
    'min_samples_split': [20, 30]
}
scoring = {
    
    
}
grid_search = GridSearchCV(
    estimator=RandomForestRegressor(max_samples=10000, n_jobs=-1,random_state = 42),
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred = best_model.predict(xy_test_price.drop('price_value',axis=1))
r2_score(xy_test_price.price_value,y_pred)

{'max_depth': 10, 'min_samples_split': 30, 'n_estimators': 100}

-0.029827982469960324

In [ ]:
grid_search.

In [269]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import lightgbm as lgb
import joblib

train_sample = xrp2
X_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value

base_params = {
    'objective': 'regression',
    'metric': 'rmse',
    'boosting_type': 'gbdt',  
    'verbose': -1,
    'random_state': 42
}

param_grid = {
    'num_leaves': [15, 31, 63],
    'learning_rate': [0.01, 0.05, 0.1],
    'feature_fraction': [0.6, 0.7, 0.8, 0.9],
    'bagging_fraction': [0.7, 0.8, 0.9, 1],
    'min_data_in_leaf': [5, 10, 20, 40],
    'lambda_l1': [0, 0.1, 0.5],
    'lambda_l2': [0, 0.1, 0.5]
}


model = lgb.LGBMRegressor(**base_params)


random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_grid,
    n_iter=20,
    scoring='neg_root_mean_squared_error',
    cv=5,
    n_jobs=-1,
    verbose=1,
    random_state=42
)

random_search.fit(X_train, y_train)

best_model = random_search.best_estimator_
print(random_search.best_params_)
print(-random_search.best_score_)

y_pred = best_model.predict(xy_test_price.drop('price_value',axis=1))
r2_score(xy_test_price.price_value,y_pred)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'num_leaves': 63, 'min_data_in_leaf': 40, 'learning_rate': 0.01, 'lambda_l2': 0.5, 'lambda_l1': 0.1, 'feature_fraction': 0.9, 'bagging_fraction': 1}
498675267529.659

-0.0030059555899308865

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

train_sample = xrp2
X_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value

pipe = Pipeline([
        ('scale',StandardScaler()),
        ('svr',SVR(verbose=1))]
)

params = {
    'svr__C': [0.001, 0.01, 0.1, 1, 10],
    'svr__kernel' : ['rbf'],
    'svr__gamma' : ['scale', 'auto'],
    'svr__epsilon' : [0.01, 0.1]
}

random_search = RandomizedSearchCV(
    estimator = pipe,
    param_distributions=params,
    n_iter=10,
    scoring='neg_root_mean_squared_error',
    cv=5,
    n_jobs=-1,
    verbose=1,
    random_state=42
)

random_search.fit(X_train, y_train)
best_model = random_search.best_estimator_
y_pred = best_model.predict(xy_test_price.drop('price_value',axis=1))
r2_score(xy_test_price.price_value,y_pred)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [275]:
best_model

LGBMRegressor(bagging_fraction=1, feature_fraction=0.9, lambda_l1=0.1,
              lambda_l2=0.5, learning_rate=0.01, metric='rmse',
              min_data_in_leaf=40, num_leaves=63, objective='regression',
              random_state=42, verbose=-1)

# Linear Regression

In [291]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

train_sample = xrp2
x_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value
x_test = xy_test_price.drop(columns=['price_value'],axis=1)
y_test = xy_test_price['price_value']

#poly_transformer = PolynomialFeatures(degree=(4)) 
#transformed_train = poly_transformer.fit_transform(x_train)
#transformed_test = poly_transformer.transform(x_test)


model = LinearRegression()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
r2_score(y_test,y_pred)

-12122.394581802748

In [295]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

train_sample = xrc2
x_train = train_sample.drop('transformed_credit',axis=1)
y_train = train_sample.transformed_credit
x_test = xy_test_credit.drop(columns=['transformed_credit'],axis=1)
y_test = xy_test_credit['transformed_credit']

poly_transformer = PolynomialFeatures(degree=(4)) 
transformed_train = poly_transformer.fit_transform(x_train)
transformed_test = poly_transformer.transform(x_test)


model = LinearRegression()
model.fit(transformed_train,y_train)

y_pred = model.predict(transformed_test)
r2_score(y_test,y_pred)

-6.5635929759971544e+16